/* Kajado CSS - v3.0 */

body {
  margin: 0; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
}
a { text-decoration: none; }
code,samp { font-family: monospace, monospace; }
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
}
caption { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
input[type=button], input[type=submit], button { border: 0; cursor: pointer; text-decoration: none; }
input:focus, textarea:focus { outline: none; }
small { font-size: 77%; opacity: 0.58; -moz-opacity: 0.58; filter: alpha(opacity=58); }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
svg:not(:root) { overflow: hidden; }
img, picture, video, embed { max-width: 100%; }