/* Kajado CSS - v3.0 */

.area-min,
.area,
.area-max,
.area-100,
.area-200,
.area-300,
.area-400,
.area-500,
.area-600,
.area-700,
.area-800,
.area-900,
.area-1000 {
  width: 95%;
  margin: 0 auto;
  clear: both;
  overflow: auto;
  position: relative;
}
.area-min { max-width: 980px; }
.area { max-width: 1180px; }
.area-max { max-width: 2000px; }
.area-100 { max-width: 100px; }
.area-200 { max-width: 200px; }
.area-300 { max-width: 300px; }
.area-400 { max-width: 400px; }
.area-500 { max-width: 500px; }
.area-600 { max-width: 600px; }
.area-700 { max-width: 700px; }
.area-800 { max-width: 800px; }
.area-900 { max-width: 900px; }
.area-1000 { max-width: 1000px; }

.block { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }

.grid {
  width: 100%;
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.grid:before,
.grid:after { content: ""; }
.grid:after { clear: both; }

.grid > div[class*="col"],
.grid > div[class*="size"],
.grid > div[class*="w"],
.grid > div[class*="px"] {
  float: left;
  vertical-align: middle;
}

.col12 { width: 100%; }
.col12-pad { width: 98%; padding: 1%; }
.col11 { width: 91.66%; }
.col11-pad { width: 89.66%; padding: 1%; }
.col10 { width: 83.33%; }
.col10-pad { width: 81.33%; padding: 1%; }
.col9 { width: 75%; }
.col9-pad { width: 73%; padding: 1%; }
.col8 { width: 66.66%; }
.col8-pad { width: 64.66%; padding: 1%; }
.col7 { width: 58.33%; }
.col7-pad { width: 56.33%; padding: 1%; }
.col6 { width: 50%; }
.col6-pad { width: 48%; padding: 1%; }
.col5 { width: 41.66%; }
.col5-pad { width: 39.66%; padding: 1%; }
.col4 { width: 33.33%; }
.col4-pad { width: 31.33%; padding: 1%; }
.col3 { width: 25%; }
.col3-pad { width: 23%; padding: 1%; }
.col2 { width: 16.66%; }
.col2-pad { width: 14.66%; padding: 1%; }
.col1 { width: 8.333%; }
.col1-pad { width: 6.333%; padding: 1%; }

.col12-offset { margin-left: 100%; }
.col11-offset { margin-left: 91.66%; }
.col10-offset { margin-left: 83.33%; }
.col9-offset { margin-left: 75%; }
.col8-offset { margin-left: 66.66%; }
.col7-offset { margin-left: 58.33%; }
.col6-offset { margin-left: 50%; }
.col5-offset { margin-left: 41.66%; }
.col4-offset { margin-left: 33.33%; }
.col3-offset { margin-left: 25%; }
.col2-offset { margin-left: 16.66%; }
.col1-offset { margin-left: 8.333%; }

.col12-push { left: 100%; }
.col11-push { left: 91.66%; }
.col10-push { left: 83.33%; }
.col9-push { left: 75%; }
.col8-push { left: 66.66%; }
.col7-push { left: 58.33%; }
.col6-push { left: 50%; }
.col5-push { left: 41.66%; }
.col4-push { left: 33.33%; }
.col3-push { left: 25%; }
.col2-push { left: 16.66%; }
.col1-push { left: 8.333%; }

.col12-pull { right: 100%; }
.col11-pull { right: 91.66%; }
.col10-pull { right: 83.33%; }
.col9-pull { right: 75%; }
.col8-pull { right: 66.66%; }
.col7-pull { right: 58.33%; }
.col6-pull { right: 50%; }
.col5-pull { right: 41.66%; }
.col4-pull { right: 33.33%; }
.col3-pull { right: 25%; }
.col2-pull { right: 16.66%; }
.col1-pull { right: 8.333%; }

@media (min-width: 42px) {
  /* COL */
  .col12-m { width: 100%; }
  .col12-m-pad { width: 98%; padding: 1%; }
  .col11-m { width: 91.66%; }
  .col11-m-pad { width: 89.66%; padding: 1%; }
  .col10-m { width: 83.33%; }
  .col10-m-pad { width: 81.33%; padding: 1%; }
  .col9-m { width: 75%; }
  .col9-m-pad { width: 73%; padding: 1%; }
  .col8-m { width: 66.66%; }
  .col8-m-pad { width: 64.66%; padding: 1%; }
  .col7-m { width: 58.33%; }
  .col7-m-pad { width: 56.33%; padding: 1%; }
  .col6-m { width: 50%; }
  .col6-m-pad { width: 48%; padding: 1%; }
  .col5-m { width: 41.66%; }
  .col5-m-pad { width: 39.66%; padding: 1%; }
  .col4-m { width: 33.33%; }
  .col4-m-pad { width: 31.33%; padding: 1%; }
  .col3-m { width: 25%; }
  .col3-m-pad { width: 23%; padding: 1%; }
  .col2-m { width: 16.66%; }
  .col2-m-pad { width: 14.66%; padding: 1%; }
  .col1-m { width: 8.333%; }
  .col1-m-pad { width: 6.333%; padding: 1%; }

  /* COL-OFFSET */
  .col12-m-offset { margin-left: 100%; }
  .col11-m-offset { margin-left: 91.66%; }
  .col10-m-offset { margin-left: 83.33%; }
  .col9-m-offset { margin-left: 75%; }
  .col8-m-offset { margin-left: 66.66%; }
  .col7-m-offset { margin-left: 58.33%; }
  .col6-m-offset { margin-left: 50%; }
  .col5-m-offset { margin-left: 41.66%; }
  .col4-m-offset { margin-left: 33.33%; }
  .col3-m-offset { margin-left: 25%; }
  .col2-m-offset { margin-left: 16.66%; }
  .col1-m-offset { margin-left: 8.333%; }

  /* COL-PUSH */
  .col12-m-push { left: 100%; }
  .col11-m-push { left: 91.66%; }
  .col10-m-push { left: 83.33%; }
  .col9-m-push { left: 75%; }
  .col8-m-push { left: 66.66%; }
  .col7-m-push { left: 58.33%; }
  .col6-m-push { left: 50%; }
  .col5-m-push { left: 41.66%; }
  .col4-m-push { left: 33.33%; }
  .col3-m-push { left: 25%; }
  .col2-m-push { left: 16.66%; }
  .col1-m-push { left: 8.333%; }

  /* COL-PULL */
  .col12-m-pull { right: 100%; }
  .col11-m-pull { right: 91.66%; }
  .col10-m-pull { right: 83.33%; }
  .col9-m-pull { right: 75%; }
  .col8-m-pull { right: 66.66%; }
  .col7-m-pull { right: 58.33%; }
  .col6-m-pull { right: 50%; }
  .col5-m-pull { right: 41.66%; }
  .col4-m-pull { right: 33.33%; }
  .col3-m-pull { right: 25%; }
  .col2-m-pull { right: 16.66%; }
  .col1-m-pull { right: 8.333%; }
}

@media (min-width: 600px) {
  /* COL */
  .col12-t { width: 100%; }
  .col12-t-pad { width: 98%; padding: 1%; }
  .col11-t { width: 91.66%; }
  .col11-t-pad { width: 89.66%; padding: 1%; }
  .col10-t { width: 83.33%; }
  .col10-t-pad { width: 81.33%; padding: 1%; }
  .col9-t { width: 75%; }
  .col9-t-pad { width: 73%; padding: 1%; }
  .col8-t { width: 66.66%; }
  .col8-t-pad { width: 64.66%; padding: 1%; }
  .col7-t { width: 58.33%; }
  .col7-t-pad { width: 56.33%; padding: 1%; }
  .col6-t { width: 50%; }
  .col6-t-pad { width: 48%; padding: 1%; }
  .col5-t { width: 41.66%; }
  .col5-t-pad { width: 39.66%; padding: 1%; }
  .col4-t { width: 33.33%; }
  .col4-t-pad { width: 31.33%; padding: 1%; }
  .col3-t { width: 25%; }
  .col3-t-pad { width: 23%; padding: 1%; }
  .col2-t { width: 16.66%; }
  .col2-t-pad { width: 14.66%; padding: 1%; }
  .col1-t { width: 8.333%; }
  .col1-t-pad { width: 6.333%; padding: 1%; }

  /* COL-OFFSET */
  .col12-t-offset { margin-left: 100%; }
  .col11-t-offset { margin-left: 91.66%; }
  .col10-t-offset { margin-left: 83.33%; }
  .col9-t-offset { margin-left: 75%; }
  .col8-t-offset { margin-left: 66.66%; }
  .col7-t-offset { margin-left: 58.33%; }
  .col6-t-offset { margin-left: 50%; }
  .col5-t-offset { margin-left: 41.66%; }
  .col4-t-offset { margin-left: 33.33%; }
  .col3-t-offset { margin-left: 25%; }
  .col2-t-offset { margin-left: 16.66%; }
  .col1-t-offset { margin-left: 8.333%; }

  /* COL-PUSH */
  .col12-t-push { left: 100%; }
  .col11-t-push { left: 91.66%; }
  .col10-t-push { left: 83.33%; }
  .col9-t-push { left: 75%; }
  .col8-t-push { left: 66.66%; }
  .col7-t-push { left: 58.33%; }
  .col6-t-push { left: 50%; }
  .col5-t-push { left: 41.66%; }
  .col4-t-push { left: 33.33%; }
  .col3-t-push { left: 25%; }
  .col2-t-push { left: 16.66%; }
  .col1-t-push { left: 8.333%; }

  /* COL-PULL */
  .col12-t-pull { right: 100%; }
  .col11-t-pull { right: 91.66%; }
  .col10-t-pull { right: 83.33%; }
  .col9-t-pull { right: 75%; }
  .col8-t-pull { right: 66.66%; }
  .col7-t-pull { right: 58.33%; }
  .col6-t-pull { right: 50%; }
  .col5-t-pull { right: 41.66%; }
  .col4-t-pull { right: 33.33%; }
  .col3-t-pull { right: 25%; }
  .col2-t-pull { right: 16.66%; }
  .col1-t-pull { right: 8.333%; }
}

@media (min-width: 768px) {
  /* COL */
  .col12-n { width: 100%; }
  .col12-n-pad { width: 98%; padding: 1%; }
  .col11-n { width: 91.66%; }
  .col11-n-pad { width: 89.66%; padding: 1%; }
  .col10-n { width: 83.33%; }
  .col10-n-pad { width: 81.33%; padding: 1%; }
  .col9-n { width: 75%; }
  .col9-n-pad { width: 73%; padding: 1%; }
  .col8-n { width: 66.66%; }
  .col8-n-pad { width: 64.66%; padding: 1%; }
  .col7-n { width: 58.33%; }
  .col7-n-pad { width: 56.33%; padding: 1%; }
  .col6-n { width: 50%; }
  .col6-n-pad { width: 48%; padding: 1%; }
  .col5-n { width: 41.66%; }
  .col5-n-pad { width: 39.66%; padding: 1%; }
  .col4-n { width: 33.33%; }
  .col4-n-pad { width: 31.33%; padding: 1%; }
  .col3-n { width: 25%; }
  .col3-n-pad { width: 23%; padding: 1%; }
  .col2-n { width: 16.66%; }
  .col2-n-pad { width: 14.66%; padding: 1%; }
  .col1-n { width: 8.333%; }
  .col1-n-pad { width: 6.333%; padding: 1%; }

  /* COL-OFFSET */
  .col12-n-offset { margin-left: 100%; }
  .col11-n-offset { margin-left: 91.66%; }
  .col10-n-offset { margin-left: 83.33%; }
  .col9-n-offset { margin-left: 75%; }
  .col8-n-offset { margin-left: 66.66%; }
  .col7-n-offset { margin-left: 58.33%; }
  .col6-n-offset { margin-left: 50%; }
  .col5-n-offset { margin-left: 41.66%; }
  .col4-n-offset { margin-left: 33.33%; }
  .col3-n-offset { margin-left: 25%; }
  .col2-n-offset { margin-left: 16.66%; }
  .col1-n-offset { margin-left: 8.333%; }

  /* COL-PUSH */
  .col12-n-push { left: 100%; }
  .col11-n-push { left: 91.66%; }
  .col10-n-push { left: 83.33%; }
  .col9-n-push { left: 75%; }
  .col8-n-push { left: 66.66%; }
  .col7-n-push { left: 58.33%; }
  .col6-n-push { left: 50%; }
  .col5-n-push { left: 41.66%; }
  .col4-n-push { left: 33.33%; }
  .col3-n-push { left: 25%; }
  .col2-n-push { left: 16.66%; }
  .col1-n-push { left: 8.333%; }

  /* COL-PULL */
  .col12-n-pull { right: 100%; }
  .col11-n-pull { right: 91.66%; }
  .col10-n-pull { right: 83.33%; }
  .col9-n-pull { right: 75%; }
  .col8-n-pull { right: 66.66%; }
  .col7-n-pull { right: 58.33%; }
  .col6-n-pull { right: 50%; }
  .col5-n-pull { right: 41.66%; }
  .col4-n-pull { right: 33.33%; }
  .col3-n-pull { right: 25%; }
  .col2-n-pull { right: 16.66%; }
  .col1-n-pull { right: 8.333%; }
}

@media (min-width: 1200px) {
  /* COL */
  .col12-d { width: 100%; }
  .col12-d-pad { width: 98%; padding: 1%; }
  .col11-d { width: 91.66%; }
  .col11-d-pad { width: 89.66%; padding: 1%; }
  .col10-d { width: 83.33%; }
  .col10-d-pad { width: 81.33%; padding: 1%; }
  .col9-d { width: 75%; }
  .col9-d-pad { width: 73%; padding: 1%; }
  .col8-d { width: 66.66%; }
  .col8-d-pad { width: 64.66%; padding: 1%; }
  .col7-d { width: 58.33%; }
  .col7-d-pad { width: 56.33%; padding: 1%; }
  .col6-d { width: 50%; }
  .col6-d-pad { width: 48%; padding: 1%; }
  .col5-d { width: 41.66%; }
  .col5-d-pad { width: 39.66%; padding: 1%; }
  .col4-d { width: 33.33%; }
  .col4-d-pad { width: 31.33%; padding: 1%; }
  .col3-d { width: 25%; }
  .col3-d-pad { width: 23%; padding: 1%; }
  .col2-d { width: 16.66%; }
  .col2-d-pad { width: 14.66%; padding: 1%; }
  .col1-d { width: 8.333%; }
  .col1-d-pad { width: 6.333%; padding: 1%; }

  /* COL-OFFSET */
  .col12-d-offset { margin-left: 100%; }
  .col11-d-offset { margin-left: 91.66%; }
  .col10-d-offset { margin-left: 83.33%; }
  .col9-d-offset { margin-left: 75%; }
  .col8-d-offset { margin-left: 66.66%; }
  .col7-d-offset { margin-left: 58.33%; }
  .col6-d-offset { margin-left: 50%; }
  .col5-d-offset { margin-left: 41.66%; }
  .col4-d-offset { margin-left: 33.33%; }
  .col3-d-offset { margin-left: 25%; }
  .col2-d-offset { margin-left: 16.66%; }
  .col1-d-offset { margin-left: 8.333%; }

  /* COL-PUSH */
  .col12-d-push { left: 100%; }
  .col11-d-push { left: 91.66%; }
  .col10-d-push { left: 83.33%; }
  .col9-d-push { left: 75%; }
  .col8-d-push { left: 66.66%; }
  .col7-d-push { left: 58.33%; }
  .col6-d-push { left: 50%; }
  .col5-d-push { left: 41.66%; }
  .col4-d-push { left: 33.33%; }
  .col3-d-push { left: 25%; }
  .col2-d-push { left: 16.66%; }
  .col1-d-push { left: 8.333%; }

  /* COL-PULL */
  .col12-d-pull { right: 100%; }
  .col11-d-pull { right: 91.66%; }
  .col10-d-pull { right: 83.33%; }
  .col9-d-pull { right: 75%; }
  .col8-d-pull { right: 66.66%; }
  .col7-d-pull { right: 58.33%; }
  .col6-d-pull { right: 50%; }
  .col5-d-pull { right: 41.66%; }
  .col4-d-pull { right: 33.33%; }
  .col3-d-pull { right: 25%; }
  .col2-d-pull { right: 16.66%; }
  .col1-d-pull { right: 8.333%; }
}

.w5 { width: 5%; }
.w5-pad { width: 3%; padding: 1%; }
.w10 { width: 10%; }
.w10-pad { width: 8%; padding: 1%; }
.w15 { width: 15%; }
.w15-pad { width: 13%; padding: 1%; }
.w20 { width: 20%; }
.w20-pad { width: 18%; padding: 1%; }
.w25 { width: 25%; }
.w25-pad { width: 23%; padding: 1%; }
.w30 { width: 30%; }
.w30-pad { width: 28%; padding: 1%; }
.w35 { width: 35%; }
.w35-pad { width: 33%; padding: 1%; }
.w40 { width: 40%; }
.w40-pad { width: 38%; padding: 1%; }
.w45 { width: 45%; }
.w45-pad { width: 43%; padding: 1%; }
.w50 { width: 50%; }
.w50-pad { width: 48%; padding: 1%; }
.w55 { width: 55%; }
.w55-pad { width: 53%; padding: 1%; }
.w60 { width: 60%; }
.w60-pad { width: 58%; padding: 1%; }
.w65 { width: 65%; }
.w65-pad { width: 63%; padding: 1%; }
.w70 { width: 70%; }
.w70-pad { width: 68%; padding: 1%; }
.w75 { width: 75%; }
.w75-pad { width: 73%; padding: 1%; }
.w80 { width: 80%; }
.w80-pad { width: 78%; padding: 1%; }
.w85 { width: 85%; }
.w85-pad { width: 83%; padding: 1%; }
.w90 { width: 90%; }
.w90-pad { width: 88%; padding: 1%; }
.w95 { width: 95%; }
.w95-pad { width: 93%; padding: 1%; }
.w100 { width: 100%; }
.w100-pad { width: 98%; padding: 1%; }

.w5-px { width: 5px; }
.w5-px-pad { width: 3px; padding: 1px; }
.w10-px { width: 10px; }
.w10-px-pad { width: 6px; padding: 2px; }
.w15-px { width: 15px; }
.w15-px-pad { width: 11px; padding: 2px; }
.w20-px { width: 20px; }
.w20-px-pad { width: 16px; padding: 2px; }
.w25-px { width: 25px; }
.w25-px-pad { width: 21px; padding: 2px; }
.w30-px { width: 30px; }
.w30-px-pad { width: 26px; padding: 2px; }
.w35-px { width: 35px; }
.w35-px-pad { width: 31px; padding: 2px; }
.w40-px { width: 40px; }
.w40-px-pad { width: 36px; padding: 2px; }
.w45-px { width: 45px; }
.w45-px-pad { width: 41px; padding: 2px; }
.w50-px { width: 50px; }
.w50-px-pad { width: 46px; padding: 2px; }
.w55-px { width: 55px; }
.w55-px-pad { width: 51px; padding: 2px; }
.w60-px { width: 60px; }
.w60-px-pad { width: 56px; padding: 2px; }
.w65-px { width: 65px; }
.w65-px-pad { width: 61px; padding: 2px; }
.w70-px { width: 70px; }
.w70-px-pad { width: 66px; padding: 2px; }
.w75-px { width: 75px; }
.w75-px-pad { width: 71px; padding: 2px; }
.w80-px { width: 80px; }
.w80-px-pad { width: 76px; padding: 2px; }
.w85-px { width: 85px; }
.w85-px-pad { width: 81px; padding: 2px; }
.w90-px { width: 90px; }
.w90-px-pad { width: 86px; padding: 2px; }
.w95-px { width: 95px; }
.w95-px-pad { width: 91px; padding: 2px; }
.w100-px { width: 100px; }
.w100-px-pad { width: 84px; padding: 8px; }
.w150-px { width: 150px; }
.w150-px-pad { width: 134px; padding: 8px; }
.w200-px { width: 200px; }
.w200-px-pad { width: 184px; padding: 8px; }
.w250-px { width: 250px; }
.w250-px-pad { width: 234px; padding: 8px; }
.w300-px { width: 300px; }
.w300-px-pad { width: 284px; padding: 8px; }
.w350-px { width: 350px; }
.w350-px-pad { width: 334px; padding: 8px; }
.w400-px { width: 400px; }
.w400-px-pad { width: 384px; padding: 8px; }
.w450-px { width: 450px; }
.w450-px-pad { width: 434px; padding: 8px; }
.w500-px { width: 500px; }
.w500-px-pad { width: 484px; padding: 8px; }
.w550-px { width: 550px; }
.w550-px-pad { width: 534px; padding: 8px; }
.w600-px { width: 600px; }
.w600-px-pad { width: 584px; padding: 8px; }
.w650-px { width: 650px; }
.w650-px-pad { width: 634px; padding: 8px; }
.w700-px { width: 700px; }
.w700-px-pad { width: 684px; padding: 8px; }
.w750-px { width: 750px; }
.w750-px-pad { width: 734px; padding: 8px; }
.w800-px { width: 800px; }
.w800-px-pad { width: 784px; padding: 8px; }
.w850-px { width: 850px; }
.w850-px-pad { width: 834px; padding: 8px; }
.w900-px { width: 900px; }
.w900-px-pad { width: 884px; padding: 8px; }
.w950-px { width: 950px; }
.w950-px-pad { width: 934px; padding: 8px; }
.w1000-px { width: 1000px; }
.w1000-px-pad { width: 984px; padding: 8px; }

.h5 { height: 5%; }
.h5-pad { height: 3%; padding: 1%; }
.h10 { height: 10%; }
.h10-pad { height: 8%; padding: 1%; }
.h15 { height: 15%; }
.h15-pad { height: 13%; padding: 1%; }
.h20 { height: 20%; }
.h20-pad { height: 18%; padding: 1%; }
.h25 { height: 25%; }
.h25-pad { height: 23%; padding: 1%; }
.h30 { height: 30%; }
.h30-pad { height: 28%; padding: 1%; }
.h35 { height: 35%; }
.h35-pad { height: 33%; padding: 1%; }
.h40 { height: 40%; }
.h40-pad { height: 38%; padding: 1%; }
.h45 { height: 45%; }
.h45-pad { height: 43%; padding: 1%; }
.h50 { height: 50%; }
.h50-pad { height: 48%; padding: 1%; }
.h55 { height: 55%; }
.h55-pad { height: 53%; padding: 1%; }
.h60 { height: 60%; }
.h60-pad { height: 58%; padding: 1%; }
.h65 { height: 65%; }
.h65-pad { height: 63%; padding: 1%; }
.h70 { height: 70%; }
.h70-pad { height: 68%; padding: 1%; }
.h75 { height: 75%; }
.h75-pad { height: 73%; padding: 1%; }
.h80 { height: 80%; }
.h80-pad { height: 78%; padding: 1%; }
.h85 { height: 85%; }
.h85-pad { height: 83%; padding: 1%; }
.h90 { height: 90%; }
.h90-pad { height: 88%; padding: 1%; }
.h95 { height: 95%; }
.h95-pad { height: 93%; padding: 1%; }
.h100 { height: 100%; }
.h100-pad { height: 98%; padding: 1%; }

.h5-px { height: 5px; }
.h5-px-pad { height: 3px; padding: 1px; }
.h10-px { height: 10px; }
.h10-px-pad { height: 6px; padding: 2px; }
.h15-px { height: 15px; }
.h15-px-pad { height: 11px; padding: 2px; }
.h20-px { height: 20px; }
.h20-px-pad { height: 16px; padding: 2px; }
.h25-px { height: 25px; }
.h25-px-pad { height: 21px; padding: 2px; }
.h30-px { height: 30px; }
.h30-px-pad { height: 26px; padding: 2px; }
.h35-px { height: 35px; }
.h35-px-pad { height: 31px; padding: 2px; }
.h40-px { height: 40px; }
.h40-px-pad { height: 36px; padding: 2px; }
.h45-px { height: 45px; }
.h45-px-pad { height: 41px; padding: 2px; }
.h50-px { height: 50px; }
.h50-px-pad { height: 46px; padding: 2px; }
.h55-px { height: 55px; }
.h55-px-pad { height: 51px; padding: 2px; }
.h60-px { height: 60px; }
.h60-px-pad { height: 56px; padding: 2px; }
.h65-px { height: 65px; }
.h65-px-pad { height: 61px; padding: 2px; }
.h70-px { height: 70px; }
.h70-px-pad { height: 66px; padding: 2px; }
.h75-px { height: 75px; }
.h75-px-pad { height: 71px; padding: 2px; }
.h80-px { height: 80px; }
.h80-px-pad { height: 76px; padding: 2px; }
.h85-px { height: 85px; }
.h85-px-pad { height: 81px; padding: 2px; }
.h90-px { height: 90px; }
.h90-px-pad { height: 86px; padding: 2px; }
.h95-px { height: 95px; }
.h90-px-pad { height: 91px; padding: 2px; }
.h100-px { height: 100px; }
.h100-px-pad { height: 84px; padding: 8px; }
.h150-px { height: 150px; }
.h150-px-pad { height: 134px; padding: 8px; }
.h200-px { height: 200px; }
.h200-px-pad { height: 184px; padding: 8px; }
.h250-px { height: 250px; }
.h250-px-pad { height: 234px; padding: 8px; }
.h300-px { height: 300px; }
.h300-px-pad { height: 284px; padding: 8px; }
.h350-px { height: 350px; }
.h350-px-pad { height: 334px; padding: 8px; }
.h400-px { height: 400px; }
.h400-px-pad { height: 384px; padding: 8px; }
.h450-px { height: 450px; }
.h450-px-pad { height: 434px; padding: 8px; }
.h500-px { height: 500px; }
.h500-px-pad { height: 484px; padding: 8px; }
.h550-px { height: 550px; }
.h550-px-pad { height: 534px; padding: 8px; }
.h600-px { height: 600px; }
.h600-px-pad { height: 584px; padding: 8px; }
.h650-px { height: 650px; }
.h650-px-pad { height: 634px; padding: 8px; }
.h700-px { height: 700px; }
.h700-px-pad { height: 684px; padding: 8px; }
.h750-px { height: 750px; }
.h750-px-pad { height: 734px; padding: 8px; }
.h800-px { height: 800px; }
.h800-px-pad { height: 784px; padding: 8px; }
.h850-px { height: 850px; }
.h850-px-pad { height: 834px; padding: 8px; }
.h900-px { height: 900px; }
.h900-px-pad { height: 884px; padding: 8px; }
.h950-px { height: 950px; }
.h950-px-pad { height: 934px; padding: 8px; }
.h1000-px { height: 1000px; }
.h1000-px-pad { height: 984px; padding: 8px; }

@media (min-width: 1px) and (max-width: 479px) {
  .hidden-m, .none-m { display: none; }
  .show-m, .block-m { display: block; }
  .f-center-m { text-align: center; }
  .f-left-m { text-align: left; }
  .f-right-m { text-align: right; }
  .f-justify-m { text-align: justify; }
  .block-m { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* MT */
  .hidden-mt, .none-mt { display: none; }
  .show-mt, .block-mt { display: block; }
  .f-center-mt { text-align: center; }
  .f-left-mt { text-align: left; }
  .f-right-mt { text-align: right; }
  .f-justify-mt { text-align: justify; }
  .block-mt { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hidden-t, .none-t { display: none; }
  .show-t, .block-t { display: block; }
  .f-center-t { text-align: center; }
  .f-left-t { text-align: left; }
  .f-right-t { text-align: right; }
  .f-justify-t { text-align: justify; }
  .block-t { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* MT */
  .hidden-mt, .none-mt { display: none; }
  .show-mt, .block-mt { display: block; }
  .f-center-mt { text-align: center; }
  .f-left-mt { text-align: left; }
  .f-right-mt { text-align: right; }
  .f-justify-mt { text-align: justify; }
  .block-mt { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* TN */
  .hidden-tn, .none-tn { display: none; }
  .show-tn, .block-tn { display: block; }
  .f-center-tn { text-align: center; }
  .f-left-tn { text-align: left; }
  .f-right-tn { text-align: right; }
  .f-justify-tn { text-align: justify; }
  .block-tn { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hidden-n, .none-n { display: none; }
  .show-n, .block-n { display: block; }
  .f-center-n { text-align: center; }
  .f-left-n { text-align: left; }
  .f-right-n { text-align: right; }
  .f-justify-n { text-align: justify; }
  .block-n { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* TN */
  .hidden-tn, .none-tn { display: none; }
  .show-tn, .block-tn { display: block; }
  .f-center-tn { text-align: center; }
  .f-left-tn { text-align: left; }
  .f-right-tn { text-align: right; }
  .f-justify-tn { text-align: justify; }
  .block-tn { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* ND */
  .hidden-nd, .none-nd { display: none; }
  .show-nd, .block-nd { display: block; }
  .f-center-nd { text-align: center; }
  .f-left-nd { text-align: left; }
  .f-right-nd { text-align: right; }
  .f-justify-nd { text-align: justify; }
  .block-nd { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
}
@media (min-width: 1200px) {
  .hidden-d, .none-d { display: none; }
  .show-d, .block-d { display: block; }
  .f-center-d { text-align: center; }
  .f-left-d { text-align: left; }
  .f-right-d { text-align: right; }
  .f-justify-d { text-align: justify; }
  .block-d { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
  /* ND */
  .hidden-nd, .none-nd { display: none; }
  .show-nd, .block-nd { display: block; }
  .f-center-nd { text-align: center; }
  .f-left-nd { text-align: left; }
  .f-right-nd { text-align: right; }
  .f-justify-nd { text-align: justify; }
  .block-nd { width: 100%; text-align: center; padding-right: 0; padding-left: 0; }
}